@import "../partials/mediaMixins.scss";
@import "../partials/spacing.scss";

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &--alignLeft {
    align-items: flex-start;
    text-align: left;
  }

  &--alignCenter {
    align-items: center;
    text-align: center;
  }

  &--alignRight {
    align-items: flex-end;
    text-align: left;
  }

  &--centerPalm {
    @include palm {
      align-items: center;
      text-align: center;
    }
  }

  &--articleImage {
    overflow: hidden;
    max-height: 400px;
    border-radius: 18px;

    @include palm {
      max-height: 340px;
    }
  }
  
  @include lap-up {
    &:first-child {
      margin: 0 $spacing-2 0 0;
    }
    
    &:last-child {
      margin: 0 0 0 $spacing-2;
    }
    
    &:only-child {
     margin: 0;
    }
  }

  @include palm {
    &:first-child {
      margin: 0 0 $spacing-1 0;
    }
    
    &:last-child {
      margin: $spacing-1 0 0 0;
    }
    
    &:only-child {
     margin: 0;
    }
  }
}
