@import '../partials/sitePalette';
@import '../partials/spacing.scss';
@import '../partials/mediaMixins.scss';

.Slice {
  $this: &;
  display: block;

  &--solo {
    height: calc(100vh - 90px);

    @media only screen and (max-width: 390px) {
      height: calc(100vh - 30px);
    }
  }

  &--hero {
    position: relative;
    min-height: 35rem;
    height: 89vh;

    & #{$this}-content {
      position: absolute;
      width: -moz-available;
      width: -webkit-fill-available;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include palm {
        top: 47%;
      }
    }
  }
}
